.o_barcode_state_selection {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}

.o_barcode_state_selection label {
    margin-right: 8px;
    font-weight: bold;
}

.o_barcode_state_field {
    min-width: 100px;
}